// Place all the styles related to the admin/dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon-food-custom{
  color: #999;
  font-size: 26px;  
}
.icon-food-custom:hover {
  text-decoration: none;
  color: darken(#999, 25%);
}